body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}

.login__container {
  background-color: #f0f2f5;
  display: grid;
  grid-template-columns: 55% 45%;
  height: 100vh;
  width: 100vw;
}

.login__logo {
  width: 10.25rem;
  padding-left: 2.125rem;
}

.login__logo img {
  width: 10.25rem !important;
}

.login__welcome {
  padding-left: 10.5rem;
  padding-top: 13.5rem;
}

.login__welcome img {
  width: 18.75rem;
}

.mt-18 {
  margin-top: -1.125rem;
}

.login__welcome p {
  font-size: 2rem;
  padding-left: 2.125rem;
}

.login__form-container {
  padding-top: 6.5rem;
}

.login__form {
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  padding: 1.25rem;
  width: 24.75rem;
}

.login__form input {
  border: 1px solid #e5e7eb;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  padding: 0.875rem 1rem;
  width: 100%;
}

.login__submit-btn {
  background-color: #405de6;
  border: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  padding: 0.875rem 1rem;
  width: 100%;
}

.login__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.login__forgot-password {
  border-bottom: 1px solid #e5e7eb;
  color: #2563eb;
  display: block;
  font-size: 0.9375rem;
  padding: 1.25rem 0;
  text-align: center;
}

.login__forgot-password:hover {
  cursor: pointer;
}

.login__signup {
  color: #2563eb;
  display: block;
  font-size: 0.9375rem;
  padding: 1.25rem 0;
  text-align: center;
}

.login__signup:hover {
  cursor: pointer;
  opacity: 0.8;
}

.loading {
  background-color: rgba(255, 255, 255, 0.8);
  display: block; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  /* overflow: auto; */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* Sit on top */
}

.lds-roller {
  display: inline-block;
  height: 5rem;
  left: 48%;
  position: fixed;
  top: 50%;
  width: 5rem;
  z-index: 100;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #405de6;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* The Modal (background) */
.signup {
  background-color: rgba(255, 255, 255, 0.8);
  display: block; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  /* overflow: auto; */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

/* Modal Content/Box */
.signup__content {
  background-color: #fefefe;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: 15% auto; /* 15% from the top and centered */
  margin-top: 10%;
  width: 27rem; /* Could be more or less, depending on screen size */
}

.signup__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.signup__title {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem 0 0.5rem 1.25rem;
}

.signup__close {
  align-items: center;
  display: grid;
  justify-items: right;
  padding: 1.25rem 1.25rem 0.5rem 0;
}

.signup__close img:hover {
  cursor: pointer;
}

.signup__subtitle {
  background: #e5e7eb;
  height: 1px;
  margin-bottom: 0.5rem;
  width: 100%;
}

.signup__form {
  width: 100%;
  padding: 1.25rem;
}

.signup__form input {
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  display: block;
  font-size: 0.9375rem;
  margin-bottom: 0.75rem;
  padding: 0.875rem 1rem;
  width: 100%;
}

.signup__form select {
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  display: block;
  font-size: 0.9375rem;
  height: 2.625rem;
  margin-bottom: 0.75rem;
  outline: none;
  padding: 0 1rem;
  width: 100%;
}

.signup__btn {
  background-color: #405de6;
  border: 0;
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin: 1.25rem auto;
  outline: none;
  padding: 0.875rem 1rem;
}

.signup__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.signup__user-avatar {
  display: grid;
  align-items: center;
  justify-content: center;
}

.signup__user-avatar > div {
  display: inline-block;
  position: relative;
}

.signup__user-avatar img {
  border-radius: 0.5rem;
  height: 6rem;
  margin-bottom: 2rem;
  width: 6rem;
  object-fit: cover;
}

.signup__user-avatar svg {
  height: 1.5rem;
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  width: 1.5rem;
}

.signup__user-avatar svg:hover {
  cursor: pointer;
}

.signup__avatar-picker {
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  display: block;
  font-size: 0.9375rem;
  margin-bottom: 0.75rem;
  padding: 0.875rem 1rem;
  width: 100%;
}

.signup__avatar-picker:hover {
  cursor: pointer;
}

.header {
  background: #fff;
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 3.5rem;
  width: 100%;
}

.header__left {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: max-content max-content;
  padding-left: 0.75rem;
}

.header__left img {
  width: 6rem;
}

.header__right {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, auto);
  justify-content: right;
  padding-right: 1rem;
}

.header__right span:hover {
  cursor: pointer;
}

.header__user-avatar img {
  border-radius: 50%;
  height: 2rem;
  object-fit: cover;
  width: 2rem;
}

/* The Modal (background) */
.create-post {
  background-color: rgba(255, 255, 255, 0.8);
  display: block; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  /* overflow: auto; */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1; /* Sit on top */
}

/* Modal Content/Box */
.create-post__content {
  background-color: #fefefe;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: 15% auto; /* 15% from the top and centered */
  margin-top: 10%;
  width: 27rem; /* Could be more or less, depending on screen size */
}

.create-post__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.create-post__title {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem 0 0.5rem 1.25rem;
}

.create-post__close {
  align-items: center;
  display: grid;
  justify-items: right;
  padding: 1.25rem 1.25rem 0.5rem 0;
}

.create-post__close img:hover {
  cursor: pointer;
}

.create-post__subtitle {
  background: #e5e7eb;
  height: 1px;
  margin-bottom: 0.5rem;
  width: 100%;
}

.create-post__form {
  width: 100%;
}

.create-post__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.create-post__image {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.create-post__image > div {
  display: inline-block;
  position: relative;
}

.create-post__image > div:hover {
  cursor: pointer;
}

.create-post__image img {
  border-radius: 0.5rem;
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.create-post__image svg {
  height: 1.5rem;
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  width: 1.5rem;
}

.create-post__image svg:hover {
  cursor: pointer;
}

.create-post__image-picker {
  text-align: center;
  padding: 2rem;
}

.create-post__image-picker:hover {
  cursor: pointer;
}

.create-post__image-picker p {
  padding: 1rem 0;
}

.create-post__footer {
  align-items: center;
  background-color: #f9fafb;
  display: grid;
  font-weight: bold;
  grid-template-columns: max-content max-content;
  justify-content: right;
  padding: 1rem;
}

.create-post__upload {
  background: #3b82f6;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 0.9375rem;
  padding: 0.5rem 0.75rem;
}

.create-post__upload:hover { 
  cursor: pointer;
}
